/* Override */
#main-page, #registration-page {
	background-image: url("../img/login-background.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.app-header {
    background: #52A33E !important;
    border: none !important;
    text-shadow: none !important;
    color: #fff !important;
}

/* Login Page */
.main-login-form {
    background: rgba(0,0,0,0);
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ui-login-input {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: none;
    border-bottom: 1px solid white !important;
    border-radius: 0;
}

.text-center {
    text-align: center;
    text-shadow: none;
    color: #fff;
}

.ui-input-text, .ui-input-text input, .ui-page-theme-a .ui-focus {
    padding: 10px 10px 10px 13px;
    box-shadow: none;
    text-shadow: none;
}

.ui-input-text input::-moz-placeholder, 
.ui-input-search input::-moz-placeholder, 
textarea.ui-input-text::-moz-placeholder
{
    color: #fff;
    text-shadow: none;
}

.ui-input-text input::-webkit-input-placeholder,
.ui-input-search input::-webkit-input-placeholder,
textarea.ui-input-text::-webkit-input-placeholder
{
    color: #fff;
    text-shadow: none;
}

.ui-input-text input:-moz-placeholder,
.ui-input-search input:-moz-placeholder,
textarea.ui-input-text:-moz-placeholder
{
    color: #fff;
    text-shadow: none;
}

.ui-input-text input:-ms-input-placeholder,
.ui-input-search input:-ms-input-placeholder,
textarea.ui-input-text:-ms-input-placeholder
{
    color: #fff;
    text-shadow: none;
}

.ui-page-theme-a .login-btn {
    background: rgba(0,0,0,0);
    color: #fff;
    text-shadow: none;
    font-weight: 500;
    border: 1;
    border-radius: 2em;
    margin-top: 30px;
}

.ui-page-theme-a .ui-btn.signup-btn {
    background: rgba(0,0,0,0);
    color: #fff;
    text-shadow: none;
    font-weight: 500;
    border: 1;
    border-radius: 2em;
}

.ui-page-theme-a .ui-body-inherit {
	background: none;
	border: none; 
}

/* Home Page */
.home-header {
    background: url('../img/nabilah-car.jpg');
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    display:block;
    color: #FFF; 
    padding: 80px 20px 20px 20px;
}

.ui-all-top-menu {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
    margin-top: 3px !important;
}

.home-body {
    background: #eee;
}

.home-profile {
    text-align: center;
}

.home-profile-picture {
    background: url('../img/profpict_160x160.png');
    -webkit-background-size:cover !important;
    background-size:cover !important;
    background-position: center;
    height: 100px;
    width: 100px;
    color: #FFF;
    border-radius: 1em;
    border: 5px solid #fff;
}

.home-profile-name {
    float: left;
    text-align: left;
    margin-top: -70px;
    margin-left: 120px;
    text-shadow: none;
}

.home-profile-name-user {
    font-size: 20px;
}

.home-profile-name-address {
    font-size: 10px;
}

.home-profile-name-carnumber {
    font-weight: bold;
}

.home-schedule-title {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: center;
}

.home-cs-image {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.home-schedule-link {
    padding-left: 5em !important;
}

.home-secondary-menu {
    background: #72B363;
    color: white;
    text-shadow: none;
    border: 1px solid #79BE69;
    font-size: 14px;
}

.home-secondary-menu-item {
    border: #79BE69 1px solid !important;
    height: 20px;
}

.home-footer-menu {
    height: 40px;
    padding-top: 10px;
}

.home-footer-menu-item {
    border-right: 1px solid #aaa;
}

.home-footer-menu-item_l {
    border-right: 1px solid #aaa;
}

.hfmi-link, .hfmi-link:focus {
    margin-left: auto !important;
    margin-right: auto !important;
    background: none !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    height: 30px;
}




